.butterfly {
  position: relative;
  padding: 8px 14px;
  font-weight: 500;
  color: #212529 !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.butterfly::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: #0d6efd ;
  transition: width 0.3s ease;
}


.butterfly:hover {
  color: #0d6efd !important;
}


.butterfly:hover::after {
  width: 100%;
}







.butterfly:hover {
  color: #8ebe1d ;
}


.butterfly {
  color: #212529;
  transition: color 0.3s ease;
}

/* active route */
.butterfly.active {
  color: #12100f !important;
  font-weight: 600;
}

/* underline visible on active */
.butterfly.active::after {
  width: 100%;
}
.cart-badge {
  position: absolute;
  top: 2px;
  right: -6px;
  background: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
